.sp__fullscreen__safari {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 999;
}