.sp__fullscreen__safari {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 999;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
    border: 4px solid white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
    border: 4px solid white;
    cursor: pointer;
}
