@import "tailwindcss" prefix(sp);
@tailwind utilities;

.sp__fullscreen__safari {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 999;
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
    body:not(.landscape-allowed)::before {
        content: "لطفاً گوشی را بچرخانید";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: white;
        color: black;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    background: black;
    border: 4px solid white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    visibility: hidden;
}

input[type="range"]::-moz-range-thumb {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    background: black;
    border: 4px solid white;
    cursor: pointer;
    visibility: hidden;
}
